.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 1.5rem 0;
  height: 100vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.topside {
  display: flex;
  align-items: center;
  gap: 0.5 rem;
  margin: 0 1rem;
}
 
.arrow-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn:hover {
  background-color: #E1D1EF;
}

.arrow-btn:active {
  background-color: #8800FF;
}

.topside img {
  width: auto;
  height: 2.5rem;
}

.bottomside {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: transparent;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #000;
  opacity: 0.6;
  text-align: left;
  width: 100%;
}

.nav-button img {
  width: auto;
  height: 25px;
}

.nav-button:hover {
  background-color: #E1D1EF;
  opacity: 1;
}

.nav-button.active {
  background-color: #E1D1EF;
  font-weight: bold;
  opacity: 1;
}

.nav-button.active span {
  color: #000;
  opacity: 1;
}
