.home-container {
  display: flex;
  height: 100vh; /* full viewport height */
  background-color: #b783e4;
}

/* Sidebar - fixed width */
.home-container > div:nth-child(1) {
  width: 50px;
  /* border-right: 1px solid #ccc; */
}

/* ChatList - scrollable */
.home-container > div:nth-child(2) {
  width: 350px;
  /* border-right: 1px solid #ccc; */
  /* overflow-y: auto; makes it scrollable */
  background-color: white;
}

/* ChatScreen - takes remaining space */
.home-container > div:nth-child(3) {
  flex: 2; /* fills the rest of the screen */
  padding: 10px;
  /* border: 5px solid black; */
}
