.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.Upper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
